body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0 0 20px 0;
}

/* Header */
header {
    background-color: #0b3d41;
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-link {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}


.hero {
    background-color: #09acdd;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.hero img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.biografia {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

.biografia p {
    margin-bottom: 1.5rem;
}


.logros {
    background-color: #f8f9fa;
    padding: 40px 20px;
}

.logros .card {
    border: none;
    background-color: #e9ecef;
}

.citas {
    background-color: #333;
    color: white;
    padding: 40px 20px;
    text-align: center;
    font-style: italic;
}


footer {
    background-color: #222;
    color: #aaa;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}
